.card {
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: none;
  width: 90%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.card-header {
  background-color: var(--tertiary-color);
  color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 20px;
}

.card-content {
  padding: 20px;
}

.card-footer {
  border-top: none;
  background-color: var(--secondary-color);
  border-radius: 0 0 5px 5px;
  padding: 20px;
}

.btn-psn {
  background-color: var(--tertiary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  display: block;
  margin: 0 auto;
}

.btn-psn:hover {
  background-color: var(--tertiary-color);
  cursor: pointer;
}
