<div class="containerLogin">
  <p-card header="Reestablece tu contraseña">
    <div class="custom-card content">
      <div class="flex align-items-center justify-content-center custom-card content image">
        <img src="../../../../assets/images/logo-recortado.jpg" height="200"/>
      </div>
      <div class="flex align-items-center justify-content-center custom-card content form">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="requestResetPassword()">
          <div class="custom-card content form input-group">
            <span class="p-input-icon-left">
              <i class="pi pi-envelope"></i>
              <input type="email" placeholder="Correo electrónico" formControlName="email" pInputText>
            </span>
          </div>
          <p-button label="Enviar correo" type="submit" [disabled]="!this.resetPasswordForm.valid"></p-button>
        </form>
      </div>
    </div>
  </p-card>
</div>