<div class="containerLogin">
    <p-card header="Inicia sesión">
      <div class="custom-card content">
        <div class="flex align-items-center justify-content-center custom-card content image">
          <img src="../../../../assets/images/logo-recortado.jpg" height="200"/>
        </div>
        <div class="flex align-items-center justify-content-center custom-card content form">
          <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <div class="custom-card content form input-group">
              <span class="p-input-icon-left">
                <i class="pi pi-envelope"></i>
                <input type="email" placeholder="Correo electrónico" formControlName="email" pInputText>
              </span>
            </div>
            <div class="custom-card content form input-group">
              <span class="p-input-icon-left">
                <i class="pi pi-lock"></i>
                <input type="password" placeholder="Contraseña" formControlName="password" pInputText>
              </span>
            </div>
            <p-button label="Ingresa" type="submit" [disabled]="!this.loginForm.valid"></p-button>
          </form>
        </div>
        <div class="flex align-items-center justify-content-center custom-card content link">
          <a routerLink="/register">¿No tienes una cuenta? Registrate aquí</a>
        </div>
        <div class="flex align-items-center justify-content-center custom-card content link">
          <a routerLink="/reset-password">¿Olvidaste tu contraseña? Ingresa aquí</a>
        </div>
      </div>
    </p-card>
  </div>