<div class="containerLogin">
  <p-card header="Revisa tu correo">
    <div class="custom-card content">
      <div class="flex align-items-center justify-content-center custom-card content image">
        <img src="../../../../assets/images/logo-recortado.jpg" height="200"/>
      </div>
      <div class="flex align-items-center justify-content-center custom-card content form">
        <form [formGroup]="verifyTokenForm" (ngSubmit)="verifyToken()">
          <div class="custom-card content form input-group">
            <span class="p-input-icon-left">
              <i class="pi pi-info-circle"></i>
              <input type="text" placeholder="Token" formControlName="token" pInputText>
            </span>
          </div>
          <p-button label="Verificar" type="submit" [disabled]="!this.verifyTokenForm.valid"></p-button>
        </form>
      </div>
      <div class="flex align-items-center justify-content-center custom-card content link">
        <a routerLink="/login">¿Ya tienes una cuenta? Ingresa aquí</a>
      </div>
    </div>
  </p-card>
</div>