body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2rem;
	line-height: 1.4; /* 1.5 */
	color: #000;
	background-color: #fff;
	background-image: url('./assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

:root {
  --primary-color: #4693ad;
  --secondary-color: #83ADBB;
	--tertiary-color: #31687A;
	--quaternary-color: #AFE7FA;
}
