<div class="container">
  <div class="grid">
    <div class="col-6">
      <h2>Usuarios seguidos</h2>
      <div class="p-listbox mt-3">
        <div class="p-listbox-header">Lista de seguidos</div>
        <div class="p-listbox-list">
          <div class="p-listbox-item" *ngFor="let user of followedUsers">
            <div routerLink="/psn/profile/{{user.id}}">
              <div class="ml-2 mb-1">{{user.name}} {{user.lastName}}</div>
              <button type="button" pButton (click)="unFollowUser(user.id); $event.stopPropagation()" icon="pi pi-user-minus"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6" style="margin-top: 72px;">
      <div class="p-listbox mt-3 followRequest-table">
        <div class="p-listbox-header">Lista de solicitudes</div>
        <div class="p-listbox-list followRequest-container">
          <div class="p-listbox-item" *ngFor="let user of requestFollowedUsers">
            <div class="ml-2 mb-1">{{user.name}} {{user.lastName}}</div>
            <button type="button" pButton (click)="acceptFollowRequest(user.id)" icon="pi pi-check"></button>
            <button type="button" pButton (click)="rejectFollowRequest(user.id)" icon="pi pi-times"></button>
          </div>
        </div>
      </div>
      <div class="p-listbox mt-3 blockRequest-table">
        <div class="p-listbox-header">Lista de bloqueados</div>
        <div class="p-listbox-list blockRequest-container">
          <div class="p-listbox-item" *ngFor="let user of blockedUsers">
            <div class="ml-2">{{user.name}} {{user.lastName}}</div>
            <button type="button" pButton (click)="unblockUser(user.id)" icon="pi pi-lock-open"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

